{% extends 'main/layout.html' %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Инженер-программист-это человек, который применяет принципы программной инженерии для проектирования, разработки, обслуживания, тестирования и оценки компьютерного программного обеспечения.
        Термин "программист" иногда используется как синоним, но может также не иметь коннотации инженерного образования или навыков.</p>
        <button class="btn btn-danger">Просто нажми</button>
    </div>
{% endblock %}
{% block title %} Про нас {% endblock %}